@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.038 285.88);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.038 285.88);
  --color-primary: oklch(11.2% 0.038 285.88);
  --color-primary-foreground: oklch(98% 0.013 285.88);
  --color-muted: oklch(96.1% 0.013 285.88);
  --color-muted-foreground: oklch(46.9% 0.023 285.88);
  --color-border: oklch(91.4% 0.023 285.88);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.038 285.88);
    --color-foreground: oklch(98% 0.013 285.88);
    --color-card: oklch(9.8% 0.038 285.88);
    --color-card-foreground: oklch(98% 0.013 285.88);
    --color-primary: oklch(98% 0.013 285.88);
    --color-primary-foreground: oklch(11.2% 0.038 285.88);
    --color-muted: oklch(17.5% 0.038 285.88);
    --color-muted-foreground: oklch(65.1% 0.023 285.88);
    --color-border: oklch(17.5% 0.038 285.88);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
}